<div class="user-show-page">
  <div class="user-cont">
    <div>
      <img src="https://user-images.githubusercontent.com/37116322/222183427-3450696b-429a-4e9a-9e19-48bbe4b48edf.png" alt="profile">
    </div>
    <div class="user-info">
      <h2><%= @user.name %></h2>
      <div>
        <p>Number of posts: <%= @user.posts_counter %></p>
      </div>
    </div>
  </div>
  <div class="bio-cont">
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
  </div>
  <% @user.last_three_posts.each do |post| %>
    <div class="post-cont">
      <h3>Post #<%= post.id %></h3>
      <p><%= post.text %></p>
      <span>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></span>
    </div>
  <% end %>

  <button><%= link_to 'See all posts', "/users/#{@user.id}/posts" %></button>
</div>