<div class="post-show-page">
  <div class="post-cont">
    <div class="post-head">
      <h3>Post #<%= @post.id %> by <%= @post.user.name %></h3>
      <p>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
    </div>
    <p><%= @post.text %><p>
  </div>
  <div class="comment-cont">
    <% @post.comments.each do |comment| %>
      <p><%= comment.user.name %>: <%= comment.text %></p>
      <%= bootstrap_form_with model: @like, url: "/users/#{@post.user.id}/posts/#{@post.id}/likes", method: :post, local: true do |f| %>
        <%= f.submit %>
      <% end %>
      <% if can? :destroy, comment %>
          <%= link_to "Delete", user_post_comment_path(@post.user.id, @post.id), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
      <% end %>
    <% end %>
  </div>

  <button>
    <%= link_to "New Comment", "/users/#{@post.user.id}/posts/#{@post.id}/comments/new", class: 'btn btn-primary' %>
  </button>
</div>